a,
u {
  text-decoration: none;
  color: #1d1d1d;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
h2 {
  font-size: 18px;
  margin-bottom: 20px;
  color: navy;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

body {
  color: #1d1d1d;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: calc(10px + 1.2vmin);
  min-height: 100vh;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  padding: 1% 0;
  width: 100%;
  text-align: center;
  height: 5%;
  max-height: 40px;
  display: flex;
  justify-content: center;
}

footer > div {
  margin-right: 10px;
}

footer > *:hover {
  font-weight: bolder;
}

.container {
  text-align: center;
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Adjust the gap between cards as needed */
  max-width: 800px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
}
