a,
u {
  text-decoration: none;
  color: #1d1d1d;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
h2 {
  font-size: 18px;
  margin-bottom: 20px;
  color: navy;
}

body {
  color: #1d1d1d;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif;
  font-size: calc(10px + 1.2vmin);
  min-height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  margin-bottom: 5%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Adjust the gap between cards as needed */
  max-width: 800px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

.buttons {
  margin-top: 15px;
}

.buttons button {
  margin: 5px;
}

.scores {
  margin: 15px 0;
}

.scores span {
  font-weight: bold;
  text-transform: capitalize;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  padding: 1% 0;
  width: 100%;
  text-align: center;
  height: 5%;
  max-height: 40px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-weight: bold;
}

footer > div {
  margin-right: 10px;
}

footer > *:hover {
  font-weight: bolder;
}
